body {
  font-family: "Garamond", "Times New Roman";
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.466),rgba(109, 101, 101, 0.507))/*, url(background.jpg)*/
  
}
h1{
  text-shadow: 0.75px 0.75px #d4b590;
}
h6{
  font-family: 'BioRhyme', serif;
  font-size: 150%;
  font-weight:100;
  background-color: #c7afaf;
  color: rgb(5, 36, 61);
  
}
#l{
  text-align:right;
  color:red;
  font-weight: bolder;
  font-size: 22px;
  
}
.bottom{
  display: flex;
  height: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #262626;
  color: rgb(0, 0, 0);
  font-size: xx-large;
  background-color: rgb(137, 189, 146);
}
.bottom-next{
  display: flex;
  height: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #262626;
  color: #BD89B4;
  font-size:xx-large;
}
#particles-js
{
    height: 68%;
    background: #940c0c;
    

}
.flex-container:hover {
background-color: #914260;
}
.flex-container {
display: flex;
flex-direction: row;

}
#c p:nth-of-type(1) {
  color: yellow;
  font-family:'Times New Roman';
}
#r p:nth-of-type(1) {
  font-family:'Times New Roman';
  color:red;
}
#an p:nth-of-type(1) {
  font-family:'Times New Roman';
  color:#00bfff;
}
#d p:nth-of-type(1) {
  font-family:'Times New Roman';
  color: red;
}
#c p:nth-of-type(2) {
  color: #d5df52;
  font-size: 25px;
}
#r p:nth-of-type(2) {
  color: #6bdb4f;
  font-size: 25px;
}
#d p:nth-of-type(2) {
  color: #f03f3f;
  font-size: 25px;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
.flex-container {
  flex-direction: column;
}
}

.scroll-left {
height: 50px; 
overflow: hidden;
position: relative;
}
.scroll-left p {
font-family: 'Times New Roman', Times, serif;
position: absolute;
width: 100%;
height: 100%;
margin: 0;
line-height: 50px;
text-align: center;
font-weight: bold;
font-size:25px;
color: #166969;
/* Starting position */
-moz-transform:translateX(100%);
-webkit-transform:translateX(100%); 
transform:translateX(100%);
/* Apply animation to this element */ 
-moz-animation: scroll-left 30s linear infinite;
-webkit-animation: scroll-left 30s linear infinite;
animation: scroll-left 20s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
0% { -moz-transform: translateX(100%); }
100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
0% { -webkit-transform: translateX(100%); }
100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
0% { 
-moz-transform: translateX(100%); /* Browser bug fix */
-webkit-transform: translateX(100%); /* Browser bug fix */
transform: translateX(100%); 
}
100% { 
-moz-transform: translateX(-100%); /* Browser bug fix */
-webkit-transform: translateX(-100%); /* Browser bug fix */
transform: translateX(-100%); 
}
}h4{
  background-color: rgb(156, 196, 214);
  font-family: 'BioRhyme', serif;

}
.image:hover {
  opacity: 0.7;
  background: #ac5252;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.social{
  display: flex;
  height: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #262626;
  color: antiquewhite;
  font-size: medium;
}

ul{
  display: flex;
}
ul li{
  position: relative;
  display: block;
  color: #666;
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: #171515;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: .5s;
}
ul li:hover{
  color: #17bdbd;
  box-shadow: 0 0 15px #E1306C;
}
